.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 150px;
  cursor: pointer;
  gap: 10px;
}

.cardImage {
  display: flex;
  flex: 4;
}

.cardTitle {
  display: flex;
  flex: 1;
}

.cardImage img {
  width: 100px;
  height: 100px;
}
