.home {
  padding: 20px;
}

.home .homeSection1 {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #ccc;
}

.home .homeSection1 .sec1Title {
  font-size: 24px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 8px 8px 0;
  padding: 10px;
  /* padding-left: 0; */
  background-image: linear-gradient(to right, skyblue, pink);
}

.home .homeSection1 .sec1Content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
