.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .pages {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
